/* Estilos CSS */
.container {
    width: 100%;
  }

  .card {
    background-color: rgb(214, 72, 72);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
  
  @media (min-width: 768px) {
    .container {
      display: flex;
    }
    .left {
      width: 30%;
    }
    .right {
      width: 70%;
    }
  }