@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}
div {
    position: relative; /* Necesario para usar las propiedades top */
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: mymove 5s infinite;
}