.destacado {
    font-weight: bold;
    color: blue;
    font-size: large;
}

div {

    font-style: oblique;
}

.centro {
    text-align: center;
    color: blueviolet;
    font-weight: lighter;
}

.derecha {

    text-align: right;
}

.boton-primario {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

