/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
}

#standings {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

#standings table {
    width: 100%;
    border: 1px solid #ccc;
}

#standings th, #standings td {
    padding: 10px;
    text-align: center;
}